%ul
  %li
    = link_to group_messages_path(group) do
      %p.chat-side-group__name
        = group.name
      - if group.messages.present?
        %p.chat-side-group__message #{group.messages.last.body}
      - else
        %p メッセージがありません
