%ul
  %li.chat-main-message-content
    .chat-main-message-title
      %p.chat-main-message-title__name
        = message.user.name
      %p.chat-main-message-title__time
        = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
    %p.chat-main-message__message
      = message.body
