.chat
  .chat-announce
    %p チャットグループが作成されました。
  .chat-side
    .chat-side-user
      .chat-side-user-left
        %h2 宇佐見
      .chat-side-user-right
        #{fa_icon "edit"}
        #{fa_icon "cog"}
    .chat-side-group
      %ul
        %li
          %p.chat-side-group__name aaaaaaaa
          %p.chat-side-group__message bbbbbb
        %li
          %p.chat-side-group__name aaaaaaaa
          %p.chat-side-group__message bbbbbb
        %li
          %p.chat-side-group__name aaaaaaaa
          %p.chat-side-group__message bbbbbb
  .chat-main
 