.chat
  .chat-side
    .chat-side-user
      .chat-side-user-left
        %h2 宇佐見
      .chat-side-user-right
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
    .chat-side-group
      %ul
        %li
          %p.chat-side-group__name UVERworld-Fun
          %p.chat-side-group__message UVERworld好きようこそ！
        %li
          %p.chat-side-group__name 環境チーム
          %p.chat-side-group__message 渋谷の環境を良くしよう！
        %li
          %p.chat-side-group__name 新卒エンジニアの会
          %p.chat-side-group__message 新卒のエンジニアの交流を目的とした会！
  .chat-main
    = render partial: "message", collection: @messages
